.city-name,
.error-message {
  font-size: 23px;
  font-weight: 700;
}

.star {
  font-size: 20px;
  color: gray;
  cursor: pointer;
}

.star.filled {
  color: rgb(255, 221, 0);
}

.error-message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}
